@import "bootstrap";

body {
  background-color: #f6fedb;
}

.bg-lincoln-green {
  background-color: #0a5411;
}

.btn-very-pale-yellow {
  color: #212529;
  border-color: #fff8af;
  background-color: #fff8af;
}

.btn-green {
  background-color: #6db240;
  color: #212529; 
}

.custom-form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #f6fedb;
  background-clip: padding-box;
  // border: 1px solid #ced4da;
  border: none;
  border-bottom: 1px solid #6db240;
  // border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin: 2em;
}

.custom-input {
  border: none;
}
